---

---

<header class="flex flex-col items-center justify-between my-4 md:my-8">
  <a class="text-[50px] md:text-[50px] pb-6 font-limelight" href="/"
    ><h1>Feature Films Featuring</h1></a
  >
  <hr class="border-primary-black w-full" />
  <h2 class="text-sm md:text-md py-6">
    Tag cast and crew to cross reference projects they have worked on together.
  </h2>
  <hr class="border-primary-black w-full" />
</header>
