---
import TaggedColumn from "./TaggedColumn";
---

<div
  class="border-r-primary-lightGrey border-r shrink-0 p-12 sticky top-0 h-svh flex flex-col w-72"
>
  <header class="grow">
    <img src="film-camera.svg" class="h-8" />
    <a href="/"
      ><h1 class="text-heading font-oswald font-semibold text-primary-blue">
        Feature<br />Films<br />Featuring
      </h1></a
    >
  </header>
  <TaggedColumn client:load />
</div>
