---
import TaggedColumn from "./TaggedColumn";
---

<sidebar-wrapper>
  <div
    class="border-r-primary-lightGrey border-r shrink-0 py-12 px-8 sticky top-0 h-svh flex flex-col w-60"
  >
    <header class="grow">
      <img src="film-camera.svg" class="h-8" />
      <a href="/people"
        ><h1 class="text-heading font-oswald font-semibold text-primary-blue">
          Feature<br />Films<br />Featuring
        </h1></a
      >
    </header>
    <div class="h-2/3">
      <form action="/credits" method="POST">
        <div class="flex justify-between">
          <h3 class="text-text mb-2">Tagged</h3>
          <button
            class="text-[10px] rounded-lg border border-primary-black py-1 px-2 h-fit"
            id="search-button"
            type="submit">Clear</button
          >
          <button
            class="text-[10px] rounded-lg border border-primary-black py-1 px-2 h-fit"
            id="search-button"
            type="submit">Submit</button
          >
        </div>
        <ul class="flex flex-col gap-2">
          <TaggedColumn client:load />
        </ul>
      </form>
    </div>
  </div>
</sidebar-wrapper>
