---
import InfoCard from "@components/Display/InfoCard";
import Layout from "@layouts/Layout.astro";
import { getAllCommonCredits } from "@utils/getAllCommonCredits";
import { getCreditsPerPerson } from "src/api";

export const prerender = false;

const creditsArr = [];

const search = Astro.url.searchParams;

for (const [key, value] of search) {
  const credit = await getCreditsPerPerson(value);
  creditsArr.push(credit);
}

const commonCredits = getAllCommonCredits(creditsArr);
const creditsWithoutDuplicates = commonCredits.filter(
  (credit, index, self) =>
    index === self.findIndex((obj) => obj.id === credit.id)
);
---

<Layout title="Feature Films Featuring">
  {
    creditsWithoutDuplicates.length > 0 ? (
      creditsWithoutDuplicates.map((credit) => (
        <InfoCard
          imagePath={credit.poster_path}
          title={credit.title || credit.original_name}
        />
      ))
    ) : (
      <p>Nothing here!</p>
    )
  }
</Layout>
