---
import InfoCard from "@components/Display/InfoCard";
import Layout from "@layouts/Layout.astro";
import { getAllCommonCredits } from "@utils/getAllCommonCredits";
import { getCreditsPerPerson } from "src/api";

// export const prerender = false;

// const creditsArr = [];

// const search = Astro.url.searchParams;

// for (const [key, value] of search) {
//   const credit = await getCreditsPerPerson(value);
//   creditsArr.push(credit);
// }

// const commonCredits = getAllCommonCredits(creditsArr);

const commonCredits = [];
---

<Layout title="Feature Films Featuring">
  <p>hi</p>
  <!-- {
    commonCredits.length > 0 ? (
      commonCredits.map((credit) => (
        <InfoCard imagePath={credit.poster_path} title={credit.title} />
      ))
    ) : (
      <p>Nothing here!</p>
    )
  } -->
</Layout>
