---
import { getPopularPeople } from "../api";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/homepage/Header.astro";
import SearchAndResults from "../components/homepage/SearchAndResults.astro";
import TaggedColumn from "../components/homepage/TaggedColumn";

const people = await getPopularPeople();
---

<Layout title="Feature Films Featuring.">
  <main>
    <Container>
      <div class="h-svh flex flex-col">
        <Header />
        <div class="flex grow">
          <TaggedColumn client:load />
          {people && <SearchAndResults people={people} />}
        </div>
      </div>
    </Container>
  </main>
</Layout>
