---
import { getPopularPeople } from "../api";
import Layout from "../layouts/Layout.astro";

const people = await getPopularPeople();

// REQUIREMENTS
// One central location to store if it is a film/tv result or a people result 'media' | 'person' - resultsType
// Central location for people results from search bar
// when there is typing, resultsType.set('person'), when the search bar is clicked resultsType.set('media')
// When someone is tagged, they are set in taggedPeple and their credits are queried and then set in allCredits
// resultsType = 'media' displayMedia, resultsType = 'person' displayPeople

// Pages
// Homepage - /people
// Routing under that --> /popular-tv /popular-movies
// On search --> /credits

// Nano stores layout
// On tag, you add tha persons profile and all of their credits to a store
// On remove tag, you remove that person and their credits
// On search, the cross referencing happens
---

<Layout title="Feature Films Featuring.">
  <p>hi</p>
</Layout>

<script>
  import { useStore } from "@nanostores/preact";
  import { resultsType } from "../stores/newSystem";

  const $resultsType = useStore(resultsType);
</script>
