---
import { useStore } from "@nanostores/preact";
import { getPopularPeople } from "../api";
import Container from "../components/Container.astro";
import Input from "../components/Input.astro";
import DisplayPeople from "../components/homepage/DisplayPeople";
import SideBar from "../components/homepage/SideBar.astro";
import Layout from "../layouts/Layout.astro";
import { resultsType } from "../stores/newSystem";
import DisplayMedia from "../components/DisplayResults/DisplayMedia.astro";

const people = await getPopularPeople();

// REQUIREMENTS
// One central location to store if it is a film/tv result or a people result 'media' | 'person' - resultsType
// Central location for people results from search bar
// when there is typing, resultsType.set('person'), when the search bar is clicked resultsType.set('media')
// When someone is tagged, they are set in taggedPeple and their credits are queried and then set in allCredits
// resultsType = 'media' displayMedia, resultsType = 'person' displayPeople

// Pages
// Homepage - /people
// Routing under that --> /popular-tv /popular-movies
// On search --> /credits
---

<Layout title="Feature Films Featuring.">
  <main class="h-fit flex">
    <SideBar />
    <Container>
      <div class="flex flex-col py-12 gap-12 w-full">
        <div class="flex justify-between w-full gap-6">
          <Input />
          <button
            class="rounded-lg px-4 py-2 bg-primary-lightGrey text-primary-grey"
            >Search</button
          >
        </div>
        <div class="flex flex-wrap">
          <DisplayPeople client:load people={people} />
        </div>
      </div>
    </Container>
  </main>
</Layout>

<script>
  import { useStore } from "@nanostores/preact";
  import { resultsType } from "../stores/newSystem";

  const $resultsType = useStore(resultsType);
</script>
