---
import { getPopularPeople } from "../api";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/homepage/Header.astro";
import SearchAndResults from "../components/homepage/SearchAndResults";
// import SearchAndResults from "../components/homepage/SearchAndResults.astro";

const people = await getPopularPeople();
---

<Layout title="Feature Films Featuring.">
  <main>
    <Container>
      <div class="h-svh flex flex-col">
        <Header />
        <div class="flex grow">
          <div
            class="w-[200px] shrink-0 h-full border-r-primary-black border-r"
          >
            <h3>Tagged</h3>
          </div>
          <SearchAndResults client:load />
          <!-- <SearchAndResults people={people} /> -->
        </div>
      </div>
    </Container>
  </main>
</Layout>
