---
const { popularPeople } = Astro.props;
---

<container-element>
  <div
    id="container"
    data-popular-people={JSON.stringify(popularPeople)}
    class="mx-auto w-full max-w-screen-2xl flexCol px-md md:px-2xl"
  >
    <slot />
  </div>
</container-element>

<script>
  import { currentDisplayedResults } from "@stores/taggingSystemStore";
  import { taggedPeople } from "@stores/newSystem";

  class ContainerElement extends HTMLElement {
    constructor() {
      super();

      const containerElement: HTMLDivElement =
        this.querySelector("#container")!;

      setPopularPeopleToStore(containerElement);
    }
  }

  customElements.define("container-element", ContainerElement);

  function setPopularPeopleToStore(containerElement: HTMLDivElement) {
    const popularPeopleJson = containerElement.dataset.popularPeople;
    if (!popularPeopleJson) return;

    const popularPeople = JSON.parse(popularPeopleJson);
    currentDisplayedResults.set(popularPeople);
    localStorage.setItem("popular-people", popularPeopleJson);

    const taggedPeopleJson = localStorage.getItem("tagged-people");
    if (!taggedPeopleJson) return;

    const taggedPeopleLocalStorage = JSON.parse(taggedPeopleJson);
    taggedPeople.set(taggedPeopleLocalStorage);
  }
</script>
