---
import TaggedRow from "./SideBar/TaggedRow";
---

<div
  class="py-4 h-[68px] mt-xl flex items-center gap-2 border-t border-primary-lightGrey"
>
  <div
    class="rounded-full text-[14px] py-1 px-2 md:py-2 md:px-3 bg-primary-lightGrey text-primary-black h-fit w-fit"
  >
    Popular
  </div>
  <ul class="flex gap-2 items-center justify-start overflow-scroll">
    <TaggedRow client:load />
  </ul>
</div>
