---
import Arrow from "./Arrow";
---

<header
  class="w-full py-sm flex gap-sm md:gap-md items-center justify-between mx-auto px-md relative"
>
  <img
    src="/film-camera.svg"
    class="h-medium w-medium md:h-md md:w-md hidden md:block"
    height="40"
  />
  <search-wrapper
    class="grow max-w-screen-2xl flex items-center gap-sm md:gap-md"
  >
    <label for="text-input" class="sr-only">Search for someone</label>
    <input
      autocomplete="off"
      id="text-input"
      name="text-input"
      placeholder='Try searching "Rami Malek"'
      type="text"
      class="rounded-2xl bg-primary-lightGrey border border-primary-grey pl-sm h-md md:h-lg w-full"
    />
    <button
      class="flex items-center justify-center bg-primary-lightGrey border-2 rounded-full border-primary-grey shrink-0 h-md w-md"
      id="search-people-button"
    >
      <Arrow />
    </button>
  </search-wrapper>
</header>

<script>
  import { handleInputSearchButton } from "@utils/handleInputSearch";

  class SearchWrapper extends HTMLElement {
    constructor() {
      super();
      const textInputString = "#text-input";
      const searchPeopleButton = "#search-people-button";
      const textInput: HTMLTextAreaElement =
        this.querySelector(textInputString)!;
      const searchPeople: HTMLButtonElement =
        this.querySelector(searchPeopleButton)!;

      searchPeople.addEventListener("click", function (e) {
        handleInputSearchButton(textInput.value);
      });

      textInput.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
          e.preventDefault();
          handleInputSearchButton((e.target as HTMLTextAreaElement).value);
        }
      });
    }
  }

  customElements.define("search-wrapper", SearchWrapper);
</script>
