---

---

<header
  class="w-full py-4 flex gap-[24px] items-center justify-between mx-auto px-md"
>
  <img src="/film-camera.svg" class="h-[48px] w-[48px]" height="40" />
  <search-wrapper class="grow max-w-screen-2xl">
    <label for="text-input" class="sr-only">Search for someone</label>
    <input
      autocomplete="off"
      id="text-input"
      name="text-input"
      placeholder='Try searching "Rami Malek"'
      type="text"
      class="rounded-2xl bg-primary-lightGrey border border-primary-grey pl-3 h-14 w-full"
    />
  </search-wrapper>
  <img src="/me.svg" class="h-[48px] w-[48px]" height="40" />
</header>

<script>
  import { handleInputSearchButton } from "@utils/handleInputSearch";

  class SearchWrapper extends HTMLElement {
    constructor() {
      super();
      const textInputString = "#text-input";
      const textInput: HTMLTextAreaElement =
        this.querySelector(textInputString)!;

      textInput.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
          e.preventDefault();
          handleInputSearchButton((e.target as HTMLTextAreaElement).value);
        }
      });
    }
  }

  customElements.define("search-wrapper", SearchWrapper);
</script>
