---
import Pill from "./Pill.astro";
---

<header-wrapper>
  <a
    href="/"
    id="header-link"
    data-tab="popular-people"
    class="w-fit block mx-auto md:mx-[unset] mt-[100px]"
  >
    <h1
      class="font-semibold font-oswald text-lg md:text-xl mt-2xl md:mt-3xl text-primary-blue text-center md:text-start"
    >
      Feature Films Featuring
    </h1>
  </a>
  <h2
    class="text-text text-center md:text-start text-primary-black mt-xs md:max-w-[400px]"
  >
    Tag and cross reference those working in the entertainment industry
  </h2>
  <p
    class="text-sm justify-center md:justify-start my-auto flex items-center gap-xs mt-sm md:mt-md text-primary-black mb-2xl md:mb-3xl"
  >
    Created by
    <Pill href="https://rose-bowen-visuals.vercel.app/"> Rose Bowen </Pill>
  </p>
</header-wrapper>

<script>
  import { taggedPeople } from "@stores/store";

  class HeaderWrapper extends HTMLElement {
    constructor() {
      super();
      const headerLink = this.querySelector("#header-link");

      headerLink?.addEventListener("click", () => {
        const tabData = headerLink.getAttribute("data-tab")!;
        localStorage.setItem("activeTab", tabData);
        taggedPeople.set([]);
      });
    }
  }
  customElements.define("header-wrapper", HeaderWrapper);
</script>
