---
const { props } = Astro.props;
---

<div class="bg-primary-grey p-4 rounded-lg">
  <input
    placeholder="Search for someone..."
    type="text"
    class="block appearance-none border-none outline-none bg-transparent w-full"
    {...props}
  />
</div>
