<div class="bg-[rgba(45,86,128,.06)] p-4 rounded-lg">
  <input
    placeholder="Search for someone..."
    type="text"
    class="block appearance-none border-none bg-transparent outline-none "
  />
</div>
