---
import Arrow from "./Arrow";
import SearchButton from "./SearchButton";
import TaggedRow from "./SideBar/TaggedRow";
---

<div class="py-4 mt-lg md:mt-xl flex items-center gap-sm w-full">
  <ul class="flex gap-2 items-center justify-start overflow-scroll">
    <TaggedRow client:load />
  </ul>
  <SearchButton client:load>
    <Arrow
      className="group-hover/search-button:translate-x-2 group-hover/search-button:after:h-7 after:transition-all after:duration-500 after:ease-secondary duration-500 ease-secondary"
    />
  </SearchButton>
</div>
