---
import { Image } from "astro:assets";
import TaggedColumn from "../homepage/TaggedColumn";
---

<sidebar-wrapper>
  <div
    class="md:h-svh md:w-[240px] gap-x-sm md:gap-x-[unset] md:shrink-0 md:fixed md:top-0 md:pt-xl md:px-md fixed flex md:flex-col md:border-r border-primary-blue w-full bottom-0 md:bottom-[unset] left-0 right-0 md:right-[unset] z-10 bg-white border-t border-t-primary-lightGrey md:border-t-0 p-xs md:p-[unset]"
  >
    <header>
      <a
        class="w-full md:w-fit gap-x-sm flexCol justify-start items-start md:mb-[72px]"
        href="/people"
        id="header-link"
      >
        <Image
          width={40}
          height={40}
          alt="film camera"
          src="/film-camera.svg"
          class="md:block hidden"
        />
        <h1
          class="md:text-heading text-primary-blue whitespace-nowrap font-oswald font-semibold"
        >
          FEATURE FILMS,
          <br />
          FEATURING
        </h1>
      </a>
    </header>
    <ul class="md:flex-col flex items-center gap-x-xs overflow-scroll gap-y-xs">
      <TaggedColumn client:load />
    </ul>
  </div>
</sidebar-wrapper>

<script>
  import { getPopularPeople } from "src/api";
  import { currentTaggedAndCredits } from "../../stores/newSystem";
  import { currentDisplayedResults } from "../../stores/taggingSystemStore";
  const people = await getPopularPeople();

  class SidebarWrapper extends HTMLElement {
    constructor() {
      super();
      const headerLink = this.querySelector("#header-link");

      // TODO: this cant be null
      headerLink?.addEventListener("click", (e) => {
        currentDisplayedResults.set({ type: "people", results: people });
        currentTaggedAndCredits.set([]);
      });
    }
  }
  customElements.define("sidebar-wrapper", SidebarWrapper);
</script>
