---
import { Image } from "astro:assets";
import TaggedColumn from "../homepage/TaggedColumn";
---

<sidebar-wrapper>
  <div
    class="h-svh shrink-0 pt-xl pr-md sticky top-0 flexCol min-w-60 border-r border-primary-blue"
  >
    <header>
      <a
        class="w-fit gap-x-sm flexCol justify-start items-start mb-sm"
        href="/people"
        id="header-link"
      >
        <Image width={40} height={40} alt="hello" src="/film-camera.svg" />
        <h1 class="text-heading text-primary-blue font-oswald font-semibold">
          FEATURE FILMS,
          <br />
          FEATURING
        </h1>
      </a>
    </header>
    <form action="/credits" method="POST">
      <div class="flex justify-between h-fit items-center">
        <h3 class="text-text text-primary-black font-bold">TAGGED</h3>
        <button
          class="text-buttonSmall rounded-lg border h-fit border-primary-black px-sm py-xs"
          id="search-button"
          type="submit">Submit</button
        >
      </div>
      <ul class="flexCol gap-x-xs">
        <TaggedColumn client:load />
      </ul>
    </form>
  </div>
</sidebar-wrapper>

<script>
  import { getPopularPeople } from "src/api";
  import { currentTaggedAndCredits } from "../../stores/newSystem";
  import { currentDisplayedResults } from "../../stores/taggingSystemStore";
  const people = await getPopularPeople();

  class SidebarWrapper extends HTMLElement {
    constructor() {
      super();
      const headerLink = this.querySelector("#header-link");

      // TODO: this cant be null
      headerLink?.addEventListener("click", (e) => {
        currentDisplayedResults.set(people);
        currentTaggedAndCredits.set([]);
      });
    }
  }
  customElements.define("sidebar-wrapper", SidebarWrapper);
</script>
