---

---

<search-wrapper class="flex justify-between w-full gap-x-sm">
  <label for="text-input" class="sr-only">Search for someone</label>
  <input
    autocomplete="off"
    id="text-input"
    name="text-input"
    placeholder="Search for someone..."
    type="text"
    class="bg-primary-lightGrey px-sm py-xs rounded-lg grow"
  />
</search-wrapper>

<script>
  import { handleInputSearchButton } from "../../utils/handleInputSearch";

  class SearchWrapper extends HTMLElement {
    constructor() {
      super();
      const textInputString = "#text-input";
      const textInput: HTMLTextAreaElement =
        this.querySelector(textInputString)!;

      textInput.addEventListener("keydown", function (e) {
        setTimeout(() => {
          handleInputSearchButton((e.target as HTMLTextAreaElement).value);
        }, 1000);
      });
    }
  }

  customElements.define("search-wrapper", SearchWrapper);
</script>
